logging_level: INFO

results_dir: 'results'
run: '190919-final'

scenario:
  #assumptions: ["wind1100-sola750-nucl6000-lCCSNone"]#["wind1100-sola750-nuclNone","wind1040-sola510-nuclNone","wind1100-sola750-nuclNone-lCCSNone","wind1040-sola510-nuclNone-lCCSNone"]#"vanilla","wind1040-sola510-nucl6000"
  #policy: ["nucl"]#["co2","co2-storage","co2-storage-trans"]#"OCGT","CCGT","OCGT-CCGT",["solar","wind","solar-wind","solar-storage","wind-storage","solar-wind-storage","co2","co2-storage","nucl"]
  policy: ["co2120-trans-storage-wind1040-sola510-nuclNone-lCCSNone","co2120-wind1040-sola510-nuclNone-lCCSNone","pen100nucl-wind1040-sola510-nucl6000-lCCSNone","pen075solar-wind1040-sola510-nuclNone-lCCSNone","pen075wind-wind1040-sola510-nuclNone-lCCSNone","pen075windsolar-wind1040-sola510-nuclNone-lCCSNone","pen075solar-co2price20","pen075wind-co2price20","pen075windsolar-co2price20","pen100nucl-wind1040-sola510-nucl8000-lCCSNone-trans-storage","pen100nucl-wind1040-sola510-nucl10000-lCCSNone-trans-storage","pen075windsolar-trans-storage","pen100windsolar-wind1040-sola510-nuclNone-lCCSNone-trans-storage","pen100wind-wind1040-sola510-nuclNone-lCCSNone-trans-storage","pen100solar-wind1040-sola510-nuclNone-lCCSNone-trans-storage","pen100nucl-wind1040-sola510-nucl10000-lCCSNone-coalNone-lignNone-OCGTNone-CCGTNone-trans-storage","pen100solar-wind1040-sola510-nuclNone-lCCSNone-battery","pen100wind-wind1040-sola510-nuclNone-lCCSNone-battery","availpen075solar-co2price20","availpen075wind-co2price20","availpen075windsolar-co2price20"]

  parameter: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]#,801]

frequency: 1

# same parameter resolution used for co2 up to co2_max and penetration up to penetration_max
parameter_max : 20


solver:
  name: gurobi
